p{
    font-family: 'Roboto', sans-serif;
}
h1,h2,h3,h4, .h1, .h2, .h3, .h4{
    font-family: 'Righteous', cursive;

}

.main-color{
    color: #1566C0;
}


   
/* header */


header{

    height: 75vh;
    width: 100vw;
    background: linear-gradient(black, transparent), url('./media/header.jpg');
    position: relative;
    bottom: 15px;
}


.wave1{
    
    position: absolute;
    width: 100vw;
    bottom: 0px;
    left: -1px;
    
}
.wave2{
    
    position: absolute;
    width: 100vw;
    left: -1px;
    bottom: -10px;

} 

.button{

    border:none;
    width: 5vw;
    
}

.header-text{
    margin-top: 30px;
    margin-left: 20px;
} 



.bg-1{

    background:linear-gradient(black,transparent), url(./media/1.png) ;
   
    height: 500px
}

.bg-2{

    background:linear-gradient(black,transparent), url(./media/2.png) ;
   
    height: 500px
}

.bg-3{

    background:linear-gradient(black,transparent), url(./media/3.png) ;
   
    height: 500px
}
 
.bg-4{

    background:linear-gradient(black,transparent), url(./media/4.png) ;
   
    height: 500px
} 

.size-column{

    width: 23vw;
    

}

.size-row{

    height: 250px;
    border-bottom: 5px solid orange;
}

.size-row2{

    height: 250px;
}

.pippo{

    height: 20vh;
    padding-left: 20px;
}

.shadow{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
}
.shadow-1{
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 1px 2px 4px black;
    width: 120px;

}   

/* Sezione nuova */

.spacing{

    margin-top: 30px;
}

/* sezione immagini ordinate */

.padd{
    padding: 8px;
}

.bord{
    border: 4px solid #1566C0;
}

.border-right{
    border-right: 2px solid #1566C0;
}

.border-left{
    border-left: 2px solid #1566C0;
}

.circle-right{

    position: relative;

}

.circle-left{

    position: relative;

}

.circle-right::after{

    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    border: 3px solid #1566C0;
    right: -23.5px;
    top: calc(50% - 78px);

}

.circle-left::before{

    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid #1566C0;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    left: -24px;
    top: calc(50% - 65px);
}

.circle{
    position: relative;
}

.circle::before{

    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border: 3px solid #1566C0;
    border-radius: 50%;
    background-color: white;
    padding: 2px;
    bottom: calc(50% - 54px);
    left: -24px;
}

footer{
    width: 100vw;
}

.bg-footer{
    background: linear-gradient(white, transparent, black),
    url(./media/footer.jpg);

    height: 70vh;
}

.sec-color{
    color: yellow;
}







 